{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
password change
{% endblock title %}
{% block body %}
<style>
    input,label{
      color: black !important;
    }
  </style>
<div >
    <h4 style="font-weight: bolder; size: 80%; color: rgb(116, 114, 112); margin-bottom: 22px;"> change password </h4>
    <form method="POST" enctype="multipart/form-data" style="width: 95%; margin-left: 22px;">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-outline-primary w-100" type="submit" style="margin-top: -10px;">send</button>
    </form>
</div>
{% endblock %}