{% extends "base.html" %} 
{% load django_bootstrap5 %} 
{% block title %}
  password reset
{% endblock title %}
{% block body %} 

<style>
  input,label{
    color: black !important;
  }
</style>
<h4 style="font-weight: bolder; size: 80%; color: black  !important; margin-bottom: 9%; ">password reset</h4> 
<form method="POST" enctype="multipart/form-data" style="width: 95%; margin-left: 22px;"> 
    {% csrf_token %} 
    {% if form.email.errors %} 
        {{ form.email.errors }} 
    {% endif %} 
  
    {% bootstrap_form form %} 
  
    <button class="btn btn-outline-primary w-100" type="submit">send</button> 
</form> 
{% endblock %}